// VARIABLES

$color-green: #5FB4A2 ;
$color-dark-blue: #203A4C;
$color-white: #FAFAFA;
$color-grayish: #33323D;
$color-red : #F43030;
$color-light-green: #EAEAEB;

$font-family: 'Ibarra Real Nova';

