.about-us-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.about-us-footer__heading {
   font-weight: 700;
   font-size: 40px;
   line-height: 42px;   
   color: $color-grayish;
   font-family: $font-family;
   max-width: 340px;
}

.about-us-footer__link {
   font-weight: 700;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;   
   padding: 17px 33px;
   display: block;
   border: 1px solid #33323D;
   box-sizing: border-box;
   transition: 0.5s;

   &:hover {
      color: $color-white;
      background-color: $color-red;
      transition: 0.5s;
   }
}

.about-us-footer__span {
   max-width: 533px;
   width: 100%;   
   height: 1px;
   background: #33323D;
   mix-blend-mode: normal;
   opacity: 0.15;
}

.about-us-footer {
   margin-top: 100px;
}

@media only screen and (max-width:1215px) {
   
   .about-us-footer__span {
      max-width: 300px;
   }
}

@media screen and (max-width:935px) {
   
   .about-us-footer {
      display: flex;
      flex-direction: column;
   }

   .about-us-footer__span {
      display: none;
   }

   .about-us-footer__heading {
      text-align: center;
      margin: 0 auto;
      max-width: 260px;
      margin-bottom: 40px;
   }
}
